body {
  margin: 0 auto;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}
input {
  padding: 8px;
  border: 1px solid #5f9341;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  margin: 5px auto;
}
button {
  font-weight: 600;
  padding: 10px 10px;
  border: none;
  background-color: #5f9341;
  color: #fff;
  cursor: pointer;
}
#delete-btn {
  background-color: #fff;
  color: #5f9341;
  border: 1px solid #5f9341;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 20px;
}
li {
  margin-top: 5px;
}
a {
  color: #5f9341;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  input {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
  }
}
